.side-bar {
  background-color: #17173b;
  min-width: 200px;
}

.footer {
  background-color: #17173b;
  color: rgb(178, 179, 190);
  height: 130px;
}

.rights-reserved {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

/* Main */
main{
  padding: 2%;
}

.banner{
  width: 100%;
}

.col{
  padding: 0;
}

.title {
  text-align: center;
}

body{
  font-family: 'Heebo';
  background-color: rgb(197, 197, 211);
}


/* table */

table {
  /* table-layout: fixed; */
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

th {
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
  background-color: #1a1e43;
  color: white;
}

th:last-of-type{
  border-radius: 0 4px 0 0;
}

th:first-of-type{
  border-radius: 4px 0 0 0;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even){
  background-color: rgba(235, 236, 239, 0.937);
}

tr:nth-child(odd){
  background-color: rgba(255, 255, 255, 0.937);
}


.cancel{
  color: white;
}

.dashBrdBtn{
  width: 100px;
}

.actionBtn{
  margin: 2px;
}

@media (max-width: 500px) {
  .team-column {
    display: none;
  }
}



/*  --- Scoreboard & Groups components ---  */

.scoreboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* or  space-between */
  padding: 5px;
}

.card {
  width: 48%;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
}

.team-info {
  display: flex;
  justify-content: space-between;
}