.side-bar {
  background-color: #03030a;
  min-width: 200px;
}

/* Main */
main{
  padding: 2%;
}

.banner{
  width: 100%;
}

.col{
  padding: 0;
}

/* table */

table {
  /* table-layout: fixed; */
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Column Size for thead */
/* th{
  width: 16.6%;

} */

/* Column size for tbody */
/* td{
  width: 16.6%;
} */

th {
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
  background-color: #1a1e43;
  color: white;
}

th:last-of-type{
  border-radius: 0 4px 0 0;
}

th:first-of-type{
  border-radius: 4px 0 0 0;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

tr:nth-child(even){
  background-color: rgba(239, 237, 235, 0.937);
}

.cancel{
  color: white;
}

.dashBrdBtn{
  width: 100px;
}

.actionBtn{
  margin: 2px;
}